{{$parent := .parent}}
{{$beedirs := .beedirs}}
{{$beedir := .beedir}}
{{$beefiles := .beefiles}}
{{$htagid := .htagid}}
{{$founds := .founds}}
{{$search := .search}}
{{$is_admin := .is_admin}}
{{$is_editor := .is_editor}}
{{$composter := .composter}}
<input type="hidden" id="bee_view" value="folder">
<div style="margin: 1em">
    {{template "_flash.html" .}}
    <!-- liste des étiquettes hashtags -->
    <div class="ui labels" style="margin-left: 0.5em;">
        {{if $beedir.WithChildren}}
        <!-- album-->
        {{range $i, $keyword := $parent.KeywordsAlbum }}
        {{if eq $htagid $keyword }}
        <a href="/folder/{{$beedir.ID}}" class="ui tag small orange label">
            #{{$keyword}}
        </a>
        {{else}}
        <a href="/folder/{{$beedir.ID}}/{{$keyword}}" class="ui tag small label">
            #{{$keyword}}
        </a>
        {{end}}
        {{end}}
        {{else}} <!-- dossier -->
        {{range $i, $keyword := $beedir.Keywords }}
        {{if eq $htagid $keyword }}
        <a href="/folder/{{$beedir.ID}}" class="ui tag small orange label">
            #{{$keyword}}
        </a>
        {{else}}
        <a href="/folder/{{$beedir.ID}}/{{$keyword}}" class="ui tag small label">
            #{{$keyword}}
        </a>
        {{end}}
        {{end}}
        {{end}}
    </div>
    <!-- liste des diapos -->
    <div class="grid">
        {{range $ibeefile, $beefile := $beefiles }}
        {{$beedirid := $beefile.DirID}}
        <div class="grey grid-item" style="margin: 0.5em">
            <div id="{{$beedirid}}_{{$beefile.ID}}" class="ui card {{if $is_editor}}bee-press{{end}}"
                data-path="{{$beefile.Path}}" data-fsrc="{{$beefile.ID}}"
                data-base="{{$beefile.Base}}" style="padding: 0.5em;">
                <!-- HEADER -->
                <!-- recherche du nom de dossier si htag ou search -->
                {{if or $htagid $search}}
                {{range $i, $bdir := $beedirs}}
                {{if eq $bdir.ID $beedirid}}
                <div class="grey content" style="padding: 0.3em 0 0.3em 0;">
                    <a href="/folder/{{$beedirid}}" class="ui center aligned sub header">
                        <i class="{{if $bdir.ParentID}}folder outline{{else}}photo video symbol{{end}} icon"></i>
                        {{$bdir.Name}}</a>
                </div>
                {{end}} <!--/eq $bdir-->
                {{end}} <!--/range-->
                {{end}} <!--/$htagid-->
                <!-- THUMBNAIL -->
                {{if $beefile.IsPdf}}
                <div class="ui centered image" title="{{$beefile.Base}}">
                    <div class="bee-modal-pdf" data-src="{{$beefile.UrlImage}}?{{$composter}}"
                        data-title="{{$beedir.Name}} / {{$beefile.Base}} : {{$beefile.Description}} {{$beefile.Keywords}} {{if ne (len $beefile.DateOriginal) 0 }}{{BeeSubstr $beefile.DateOriginal 8 10}}/{{BeeSubstr $beefile.DateOriginal 5 7}}/{{BeeSubstr $beefile.DateOriginal 0 4}}{{end}} {{$beefile.TimeOriginal}}">
                        <img data-pdf-thumbnail-file="{{$beefile.UrlImage}}" src="/static/pdfThumbnails/pdf.png"
                            data-pdf-thumbnail-heightX="400">
                    </div>
                </div>
                {{else if $beefile.IsVideo}}
                <!-- isimage isvideo-->
                <div class="ui link centered image" title="{{$beefile.Base}}">
                    <a class="glightbox" href="{{$beefile.UrlImage}}?{{$composter}}" data-gallery="gallery"
                        data-description="{{if ne (len $beefile.DateOriginal) 0 }}{{BeeSubstr $beefile.DateOriginal 8 10}}/{{BeeSubstr $beefile.DateOriginal 5 7}}/{{BeeSubstr $beefile.DateOriginal 0 4}}{{end}} {{$beefile.TimeOriginal}} <b>{{$beefile.Title}}</b> {{$beefile.Description}}"><img
                            src="{{$beefile.UrlThumb}}?{{$composter}}">
                    </a>
                </div>
                {{else if $beefile.IsDoc}}
                {{$url := printf "/s/doc/%s" $beefile.ID}}
                <div class="ui link centered image" title="{{$beefile.Base}}">
                    <a href="{{$url}}">
                        <img src="{{$beefile.UrlImage}}?{{$composter}}">
                    </a>
                </div>
                {{else if $beefile.IsImage}}
                <!-- isimage isvideo-->
                <div class="ui link centered image" title="{{$beefile.Base}}">
                    <a class="glightbox" href="{{$beefile.UrlImage}}?{{$composter}}" data-gallery="gallery"
                        data-description="{{if ne (len $beefile.DateOriginal) 0 }}{{BeeSubstr $beefile.DateOriginal 8 10}}/{{BeeSubstr $beefile.DateOriginal 5 7}}/{{BeeSubstr $beefile.DateOriginal 0 4}}{{end}} {{$beefile.TimeOriginal}} <b>{{$beefile.Title}}</b><br>{{$beefile.Description}}"><img
                            src="{{if $beefile.IsSvg }}{{$beefile.UrlImage}}{{else}}{{$beefile.UrlThumb}}{{end}}?{{$composter}}">
                    </a>
                </div>
                {{else}}
                <!-- fichier non traités -->
                <div class="ui button">
                    <i class="exclamation triangle big icon"></i>[{{$beefile.Base}}]<br>non traité par beerama
                </div>
                {{end}} <!-- /if image-->
                <!-- METADATA -->
                <a class="content {{if $is_editor}}draggable bee-meta{{end}} bee-meta-edit"
                    data-dsrc="{{$beedirid}}" data-fsrc="{{$beefile.ID}}" 
                    title="Clic pour modifier légende et étiquettes" data-url="/e/meta/{{$beedirid}}/{{$beefile.ID}}">
                    <!-- title -->
                    {{if $beefile.Title}}
                    <div class="ui center aligned sub header"
                        style="font-size: 1em;text-transform: none;white-space:pre-line">{{$beefile.Title}}
                    </div>
                    {{end}}
                    <div class="description">
                        <!-- description -->
                        {{if $beefile.Description}}
                        <div class="ui center aligned" style="font-size: 1em;text-transform: none;">
                            {{$beefile.Description}}
                        </div>
                        {{end}}
                        <!-- date originale de l'image -->
                        <span class="ui text right floated">
                            {{if ne (len $beefile.DateOriginal) 0 }}
                            {{BeeSubstr $beefile.DateOriginal 8 10}}/{{BeeSubstr $beefile.DateOriginal 5 7}}/{{BeeSubstr $beefile.DateOriginal 0 4}} {{$beefile.TimeOriginal}}&nbsp;
                            {{else}}
                            {{$beefile.Year}}
                            {{end}}
                        </span>
                    </div>
                </a>
                <!-- lien openstreetmap -->
                <div class="meta">
                    {{if $beefile.UrlExterne}}
                    {{$title := "Lien vers le document..."}}
                    {{if BeeContains $beefile.UrlExterne "openstreetmap"}}
                    {{$title = "Localiser la prise de vue..."}}
                    {{end}}
                    <a class="ui right floated basic label" title="{{$title}}" target="popup"
                        href="{{$beefile.UrlExterne}}">
                        {{if BeeContains $beefile.UrlExterne "openstreetmap"}}
                        <i class="map icon"></i>
                        {{else}}
                        <i class="linkify icon"></i>
                        {{end}}
                    </a>
                    {{end}}
                    <!-- étiquettes hashtags -->
                    {{if $beefile.Keywords}}
                    {{range $i, $keyword := $beefile.Keywords}}
                    <a href="/folder/{{$beedir.ID}}/{{$keyword}}" class="ui basic label">#{{$keyword}}</a>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        {{end}} <!-- /range -->
        <!-- end range records -->
    </div>
</div>
<!-- Modal filerobot image editor -->
<div id="bee-modal-filerobot" class="ui overlay fullscreen modal">
    <div class="header bee-modal-title">à venir</div>
    <div class="content">
        <form class="ui form" method="POST" action="bee-modal-new">
            {{ .xsrfdata }}
            <div class="required field">
                <label for="keyword">Nouvelle étiquette (en un seul mot)</label>
                <input type="text" id="keyword" name="keyword" placeholder="étiquette" value="a venir">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">Annuler</div>
        <div class="ui approve button">Valider</div>
    </div>
</div>
<div id="bee-modal-pdf" class="ui fullscreen modal">
    <div class="left actions" style="padding: 0.5em">
        <div class="ui cancel button">Fermer</div>
        <div class="ui button bee-modal-title {{if $is_editor}}bee-meta{{end}}" title="Modifier les propriétés...">
        </div>
    </div>
    <div class="ui centered bordered fluid image">
        <iframe src="" width="100%" height="100%">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</div>
