<!-- _foot.html -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<!-- https://github.com/furf/jquery-ui-touch-punch -->
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<!-- Fomantic https://fomantic-ui.com/introduction/getting-started.html-->
<script defer src="/static/js/semantic.min.js"></script>

<!-- tap press https://github.com/ngryman/jquery.finger -->
<script defer type="module" src="/static/js/jquery.finger.min.js"></script>

<!-- ImageEditor https://github.com/scaleflex/filerobot-image-editor -->
<script defer src="/static/js/filerobot-image-editor.min.js"></script>

<!-- https://github.com/jgraph/drawio-integration -->
<script defer src="/static/drawio/diagram-editor.js"></script>

<!-- Masonry -->
<!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->
<script defer src="/static/js/masonry.js" sync></script>

<!-- https://github.com/biati-digital/glightbox -->
<script defer src="/static/glightbox/js/glightbox.min.js"></script>

<!-- JS.COOKIE -->
<script defer src="/static/js/js.cookie.min.js"></script>

<!-- Thumbnails -->
<script src="/static/pdfThumbnails/pdfThumbnails.js"
    data-pdfjs-src="/static/pdfThumbnails/pdf.js/build/pdf.js"></script>

<!-- html2canvas-->
<script defer src="/static/js/html2canvas.js"></script>

<!-- editeur html GUILL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<!-- Chargement individuel des langages plaintext bash css javascript json python sql yaml xml-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/plaintext.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/xml.min.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<!-- Custom Bee -->
<script defer src="/static/js/bee_script.js"></script>
