<!-- _foot.html -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<!-- https://github.com/furf/jquery-ui-touch-punch -->
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<!-- Fomantic https://fomantic-ui.com/introduction/getting-started.html-->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.4/semantic.min.js" integrity="sha512-Y/wIVu+S+XJsDL7I+nL50kAVFLMqSdvuLqF2vMoRqiMkmvcqFjEpEgeu6Rx8tpZXKp77J8OUpMKy0m3jLYhbbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- tap press https://github.com/ngryman/jquery.finger -->
<script defer type="module" src="/static/js/jquery.finger.min.js"></script>

<!-- ImageEditor https://github.com/scaleflex/filerobot-image-editor -->
<script defer src="/static/js/filerobot-image-editor.min.js"></script>

<!-- https://github.com/jgraph/drawio-integration -->
<script defer src="/static/drawio/diagram-editor.js"></script>

<!-- Masonry -->
<!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->
<script defer src="/static/js/masonry.js"></script>

<!-- Lightbox V2 -->
<!-- https://lokeshdhakar.com/projects/lightbox2/ -->
<script defer src="/static/lightbox/js/lightbox.js"></script>

<!-- JS.COOKIE -->
<script defer src="/static/js/js.cookie.min.js"></script>

<!-- Custom Bee -->
<script defer src="/static/js/bee_script.js"></script>
