<!-- index.html -->
<!DOCTYPE html>
<html>
{{template "_head.html" .}}
{{$user_id := .user_id}}
{{$config := .config}}
{{$beedirs := .beedirs}}
{{$user_id := .user_id}}
{{$is_admin := .is_admin}}
<body>
    <!-- MENU HORIZONTAL FIXED -->
    <div class="ui grey inverted top fixed borderless large menu navbar">
        <div class="ui scrolling dropdown item">
            <div class="ui mini image">
                <img src="{{.config.Icon}}">
            </div>
            <div class="menu bee-mobile-show">
                <!-- menu des albums -->
                <div class="active item">
                    <div class="content">
                        <div class="header">
                            Les albums de "{{$user_id}}"
                        </div>
                    </div>
                </div>
                {{ range $beedir := $beedirs }}
                <a class="item" href="/folder/{{$beedir.ID}}">
                    <i class="photo video symbol icon"></i> {{$beedir.Name}} <span
                        class="ui small text">({{$beedir.CountAlbum}})</span>
                </a>
                {{end}}
            </div>
        </div>
        <a href="/" class="ui header item" title="">
            <span class="ui large text orange bee-press-hidden-mobile">{{$config.Title}}<span>
        </a>
        <!-- RIGHT MENU -->
        {{if $is_admin}}
        <div class="right menu">
            <div class="ui dropdown item bee-press-hidden-mobile">
                <i class="ellipsis vertical icon"></i>
                <div class="menu">
                    <div class="ui icon item bee-modal-new" title="Créer un nouvel album" data-action="/a/mkdir">
                        <i class="icon folder plus"></i>Créer un nouvel album...
                    </div>
                    <a class="ui icon item bee-nag" href="/a/reload">
                        <i class="refresh icon"></i>Recharger tous les albums
                    </a>
                    <a class="ui icon item" href="/a/users">
                        <i class="user icon"></i>Modifier le fichier des utilisateurs...
                    </a>
                </div>
            </div>
        </div>
        {{end}}
        <!-- end RIGHT MENU -->
    </div>
    <div id="menu" class="ui left fixed vertical menu xbee-mobile-hide">
        <!-- menu des albums -->
        <div class="active item">
            <div class="content">
                <div class="header">
                    Les albums de "{{$user_id}}"
                </div>
            </div>
        </div>
        {{ range $beedir := $beedirs }}
        {{if eq $beedir.ParentID ""}}
        <a class="item" href="/folder/{{$beedir.ID}}">
            <i class="photo video symbol icon"></i> {{$beedir.Name}} <span
                class="ui small text">({{$beedir.CountAlbum}})</span>
        </a>
        {{end}}
        {{end}}
    </div>
    <!-- MAIN -->
    <main>
        <div class="ui orange fixed nag" id="bee-nag">
            <div class="title">Rechargement des images en cours...</div>
            <div>Veuillez patienter</div>
            <i class="close icon"></i>
        </div>
        <div class="bee-container">
            <div class1="ui segment" style="margin: 2em">
                {{template "_flash.html" .}}
                <div class="ui cards">
                    <div class="ui centered card bee-width-xxl">
                        <div class="image" href="#"
                            title='{{.user_id}}, Bienvenue dans {{.config.Title}} "{{.config.Description}}"'>
                            <img src="/static/img/beerama2.png"></img>
                        </div>
                        <div class="content">
                            <div class="meta">
                                <div class="ui brown left floated label">
                                    <i class="user icon"></i>
                                    {{.user_id}}
                                    <div class="detail">
                                        {{.role}}
                                    </div>
                                </div>
                                <a class="ui orange right floated label" href="{{.config.Github}}" target="_blank"
                                    title="Voir les sources de l'application">
                                    <i class="github icon"></i>
                                    {{.config.AppName}}
                                    <div class="detail">{{.config.Version}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="bee-modal-new" class="ui tiny modal">
        <div class="header bee-modal-title"></div>
        <div class="content">
            <form class="ui form" method="POST" action="">
                {{ .xsrfdata }}
                <div class="required field">
                    <input type="text" name="new_name" placeholder="" value="">
                </div>
                <div class="actions">
                    <div class="ui cancel button">Annuler</div>
                    <div class="ui approve button">Valider</div>
                </div>
            </form>
        </div>
    </div>

    {{template "_foot.html" .}}
</body>

</html>